<div class="grid">
  <!-- Total Completed Amount -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Money</span>
          <div
            *ngIf="!isLoading; else loadingSkeleton"
            class="text-900 font-medium text-xl"
          >
            {{ dashboardData.getTotalCompletedAmount | number: '1.0-0' : 'vi' }}
            VND
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-green-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-dollar text-green-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Approved Posts -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Approved Posts</span>
          <div class="text-900 font-medium text-xl">
            {{ dashboardData.approvedPostsCount }}
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-thumbs-up text-cyan-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Posts -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Pending Posts</span>
          <div class="text-900 font-medium text-xl">
            {{ dashboardData.pendingPostsCount }}
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-hourglass text-orange-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Rejected Posts -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Rejected Posts</span>
          <div class="text-900 font-medium text-xl">
            {{ dashboardData.rejectedPostsCount }}
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-red-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-times-circle text-red-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Successful Payments -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >Successful Payments</span
          >
          <div class="text-900 font-medium text-xl">
            {{ dashboardData.successfulPaymentsCount }}
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-check-circle text-blue-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Active Users -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Active Users</span>
          <div class="text-900 font-medium text-xl">
            {{ dashboardData.activeUsersCount }}
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-user text-purple-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Total Passengers -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Passengers</span>
          <div class="text-900 font-medium text-xl">
            {{ dashboardData.totalPassengers }}
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-teal-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-users text-teal-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Active Transportations -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3"
            >Active Transportations</span
          >
          <div class="text-900 font-medium text-xl">
            {{ dashboardData.activeTransportationsCount }}
          </div>
          <ng-template #loadingSkeleton>
            <p-skeleton width="100px" height="20px"></p-skeleton>
          </ng-template>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-black-alpha-30 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-car text-brown-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Order History</h5>
      <p-table
        *ngIf="!isLoading; else tableSkeleton"
        [value]="orderHistory"
        [paginator]="true"
        [rows]="5"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="createdDate">
              Date <p-sortIcon field="createdDate"></p-sortIcon>
            </th>
            <th pSortableColumn="amount">
              Price <p-sortIcon field="amount"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="createdBy">
              Customer <p-sortIcon field="createdBy"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.createdDate | date: 'dd/MM/yy' }}</td>
            <td>{{ order.amount | number: '1.0-0' : 'vi' }} VND</td>
            <td>{{ order.status }}</td>
            <td>{{ order.createdBy }}</td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template #tableSkeleton>
        <div *ngFor="let _ of [1, 2, 3, 4, 5]" class="mb-2">
          <p-skeleton width="100%" height="30px"></p-skeleton>
        </div>
      </ng-template>
    </div>

    <div class="card">
      <h5>Mood</h5>
      <p-chart
        *ngIf="!isLoading; else chartSkeleton"
        type="polarArea"
        [data]="moodData"
        [options]="polarChartOptions"
      ></p-chart>
      <ng-template #chartSkeleton>
        <p-skeleton width="100%" height="200px"></p-skeleton>
      </ng-template>
    </div>
  </div>

  <div class="col-12 xl:col-6">
    <div class="card">
      <h5>Daily Earnings Overview</h5>
      <p-chart
        *ngIf="!isLoading; else dailyChartSkeleton"
        type="line"
        [data]="dailyChartData"
        [options]="dailyChartOptions"
      ></p-chart>
      <ng-template #dailyChartSkeleton>
        <p-skeleton width="100%" height="200px"></p-skeleton>
      </ng-template>
    </div>

    <div class="card">
      <h5>Monthly Earnings Overview</h5>
      <p-chart
        *ngIf="!isLoading; else monthlyChartSkeleton"
        type="line"
        [data]="monthlyChartData"
        [options]="monthlyChartOptions"
      ></p-chart>
      <ng-template #monthlyChartSkeleton>
        <p-skeleton width="100%" height="200px"></p-skeleton>
      </ng-template>
    </div>

    <!-- <div class="card">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>Notifications</h5>
        <div>
          <button
            pButton
            type="button"
            icon="pi pi-ellipsis-v"
            class="p-button-rounded p-button-text p-button-plain"
            (click)="menu.toggle($event)"
          ></button>
          <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </div>
      </div>

      <span class="block text-600 font-medium mb-3">TODAY</span>
      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-dollar text-xl text-blue-500"></i>
          </div>
          <span class="text-900 line-height-3"
            >Richard Jones
            <span class="text-700">
              has purchased a blue t-shirt for
              <span class="text-blue-500">79$</span></span
            >
          </span>
        </li>
        <li class="flex align-items-center py-2">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-download text-xl text-orange-500"></i>
          </div>
          <span class="text-700 line-height-3"
            >Your request for withdrawal of
            <span class="text-blue-500 font-medium">2500$</span> has been
            initiated.</span
          >
        </li>
      </ul>

      <span class="block text-600 font-medium mb-3">YESTERDAY</span>
      <ul class="p-0 m-0 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-dollar text-xl text-blue-500"></i>
          </div>
          <span class="text-900 line-height-3"
            >Keyser Wick
            <span class="text-700">
              has purchased a black jacket for
              <span class="text-blue-500">59$</span></span
            >
          </span>
        </li>
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-question text-xl text-pink-500"></i>
          </div>
          <span class="text-900 line-height-3"
            >Jane Davis<span class="text-700">
              has posted a new questions about your product.</span
            ></span
          >
        </li>
      </ul>
    </div>

    <div
      class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
      [ngStyle]="{
        borderRadius: '1rem',
        background:
          'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)',
      }"
    >
      <div>
        <div class="text-blue-100 font-medium text-xl mt-2 mb-3">
          TAKE THE NEXT STEP
        </div>
        <div class="text-white font-medium text-5xl">Try PrimeBlocks</div>
      </div>
      <div class="mt-4 mr-auto md:mt-0 md:mr-0">
        <a
          target="_blank"
          href="https://www.primefaces.org/primeblocks-ng"
          class="p-button font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised"
        >
          Get Started
        </a>
      </div>
    </div> -->
  </div>
</div>
