ul.layout-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-right: 16px;
}
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

ul.layout-topbar-menu li.hover-link:hover {
  text-decoration: none; 
  transition: color 0.3s ease, transform 0.3s ease; 
  font-weight: normal;
}

ul.layout-topbar-menu li.hover-link:hover {
  font-weight: bold;
  transform: scale(1.1);
}
